$parent: aviasales;

.#{$parent} {
  padding: 0 15px 70px;
  background-color: #f3f7fa;

  &__wrapper {
    display: grid;
    gap: 20px;

    @media (width >= 768px) {
      grid-template-columns: 232px minmax(320px, 502px);
    }
  }

  @media (width >= 1200px) {
    padding: 50px 103px;
  }
}
