$parent: add-card-form;

.#{$parent} {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  &__field {
    position: relative;
    display: block;
    padding-top: 30px;

    input {
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 1px solid darkgray;
      font-size: 18px;
      transition: border-bottom-color 0.2s ease;

      &:focus {
        border-color: #1890ff;

        & + .#{$parent}__placeholder {
          top: 0;
          transform: translateY(-25%);
          font-size: 14px;
        }
      }

      &:valid {
        border-color: #1890ff;

        & + .#{$parent}__placeholder {
          top: 0;
          transform: translateY(-25%);
          font-size: 14px;
          color: #1890ff;
        }
      }
    }
  }

  &__placeholder {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    padding-bottom: 5px;
    pointer-events: none;
    color: darkgray;
    font-size: 16px;
    transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease;
  }
}
