$parent: information;

.#{$parent} {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    line-height: 18px;
    color: #a0b0b9;
    text-align: left;
    letter-spacing: 0.5px;
  }
}
