$parent: "swiper";

.#{$parent} {
  width: 100%;
  height: 100%;

  & .swiper-slide {
    height: auto !important;
  }

  & + .custom-pagination {
    position: static;
    transform: translateX(0) !important;

    display: flex;
    justify-content: center;

    margin: 24px auto 0;
  }
}
